html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/* Kopfzeile */
#top {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}
#top .left {
	float: left;
	height: 50px;
	font-size: 30px;
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
}
#top .right {
	float: right;
	height: 50px;
	font-size: 30px;
	font-family: sans-serif;
	padding-right: 10px;
	padding-top: 10px;
}

/* Fußzeile */
#bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}
#bottom marquee {
	height: 50px;
	font-size: 30px;
	padding-top: 10px;
	font-family: sans-serif;
}

/* linke Hälfte */
#left {
	position: fixed;
	top: 50px;
	bottom: 50px;
	left: 0px;
	width: 50%;
	overflow-x: none;
	overflow-y: auto;
}
#left .left {
	width: 100%;
	height: 100%;
	display: none;
}
#left .left img {
	padding: 0;
	margin: 0;
	max-width: 50vw;
	max-height: 99%;
}
#left .left iframe {
	padding: 0;
	margin: 0;
	width: 50vw;
	height: 99%;
	overflow-x: hidden;
}

/* rechte Hälfte */
#right {
	position: fixed;
	top: 50px;
	bottom: 50px;
	right: 0px;
	width: 50%;
	overflow-x: none;
	overflow-y: auto;
}
#right .right {
	width: 100%;
	height: 100%;
	display: none;
}
#right .right img {
	padding: 0;
	margin: 0;
	max-width: 50vw;
	max-height: 99%;
}
#right .right iframe {
	padding: 0;
	margin: 0;
	width: 50vw;
	height: 99%;
	overflow-x: hidden;
}